<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALOO | Login</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}

            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit" class="login-btn">Login</button>
        </form>

        {% for msg in messages %}
            <p class="msg">{{ msg }}</p>
        {% endfor %}
    </div>

</body>
</html>
