.cart-box {
    width: 450px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.cart-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cart-img {
    width: 90px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
}

.item-info h4 {
    margin-bottom: 5px;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-box button {
    width: 30px;
    height: 30px;
    background: black;
    color: gold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.total-box {
    text-align: right;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

.buy-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: gold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
